{% load static %}

{% include 'components/base/base-top.html' %}
 {% include 'components/header/header.html' %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

 <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 <style>

    .box-element{
        box-shadow: hsl(0, 0%, 80%) 0 0 16px;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
    }
    
    .cart-row{
        display: flex;
        align-items: flex-stretch;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;
    }
    
    /* .quantity{
        display: inline-block;
        font-weight: 700;
        padding-right: 10px;
    } */
    
    .row-image{
        width: 100px;
        height: 50px;
    }
    
    /* .chg-quantity{
        width: 12px;
        cursor: pointer;
        display: block;
        margin-bottom: 3px;
    } */
    .btn:hover {
        background-color: white;
        color: black;
    
    }
    .back:hover{
        background-color: white;
        color: black;
    }

    .form-field{
        width: 250px;
        display: inline-block;
        padding: 5px;
    }
    
    </style>




<div class="container">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="post">
                {% csrf_token %}
                <div id="shipping-info">
                    <hr>
                    <h2 style="font-weight: bold;">Shipping Information:</h2>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address.." required>
                    </div>
                    <div class="form-field">
                        <select class="form-control" name="city" id="cars" type="text">
                            <option value="Kathmandu">Kathmandu</option>
                            <option value="Bhaktapur">Bhaktapur</option>
                            <option value="Lalitpur">Lalitpur</option>
                            
                          </select>
                        <!-- <input class="form-control" type="text" name="city" placeholder="City.." required> -->
                    </div>
                    <div class="form-field">
                        
                        <input class="form-control" type="number" name="ward_no" placeholder="Ward no.." required> 
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="number" name="zipcode" placeholder="Zip code.." required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="number" name="phone" placeholder="Phone no" required>
                    </div>
                    
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>


        <div class="box-element hidden" id="payment-info">
            <h4>Payment Options</h4>
            <button id = "make-payment" class="btn btn-outline-success"><option value="Cash on Delivery">Cash On Delivery</option></button>
            <button id = "payWithESewa" class="btn btn-outline-success"><option value="Cash on Delivery">pay with esewa</option></button>
            <button id = "payment-button" class="btn btn-outline-success"><option value="Cash on Delivery">pay with khalti</option></button>
           

        </div> 
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-dark back" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.Book_name.imageURL}}"></div>
                <div style="flex:2"><p>{{item.Book_name.Book_name}}</p></div>
                <div style="flex:1"><p>Rs. {{item.Book_name.price}} </p></div>
                <div style="flex:1"><p>x {{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h4>Items:   {{order.get_cart_items}}</h4>
            <h4>Total: Rs. <span id="totalAmount">{{order.get_cart_total}}</span></h4>
        </div>
    </div>
</div>

</div>
<br>


<script>
    var shipping = '{{Order.shipping}}'
    var total = '{{order.get_cart_total}}'
    var form = document.getElementById('form')

    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('form submitted...')
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    const makePaymentBtn = document.querySelector("#make-payment");
    makePaymentBtn.addEventListener("click", function() {
        // Show confirmation dialog box when button is clicked
        const confirmation = confirm("Are you sure you want to place this order?");
        if (confirmation) {
            submitFormData();
        }
    });

    function submitFormData() {
        console.log('Payment clicked')

        var userFormData = {
            'total':total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'ward_no': null,
            'zip_code': null,
            'phone': null            
        }

        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.ward_no = form.ward_no.value
            shippingInfo.zip_code = form.zipcode.value
            shippingInfo.phone = form.phone.value
        }

        var url = "/process_order/"
        fetch(url, {
            method :'POST',
            headers: {
                'Content_Type':'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({'form': userFormData,'shipping':shippingInfo}),
        })
        .then(() => {
            // Show alert box when payment is completed
            alert("Your payment has been completed! Our customer service will contact you soon :)");
            // Redirect user to store page when "OK" button is clicked on the alert box
            window.location.href = "{% url 'order' %}";
        })
    }
</script>

<script>
    var path = "https://uat.esewa.com.np/epay/main";
    var params = {
      amt: 0,
      psc: 0,
      pdc: 0,
      txAmt: 0,
      tAmt: 0,
      pid: "ee2c3ca1-696b-4cc5-a6be-2c40d929d453",
      scd: "EPAYTEST",
      su: "http://127.0.0.1:8000/order/",
      fu: "http://127.0.0.1:8000/order/"
    };
    
    function post(path, params) {
      var form = document.createElement("form");
      form.setAttribute("method", "POST");
      form.setAttribute("action", path);
    
      for (var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
      }
    
      document.body.appendChild(form);
      form.submit();
    }
    
    document.getElementById("payWithESewa").addEventListener("click", function() {
      // Get the total amount from the HTML and convert it to paisa
      var totalAmount = parseInt(document.querySelector("#totalAmount").innerText) * 1;
    
      // Update the params object with the new amount
      params.amt = totalAmount;
      params.tAmt = totalAmount;
    
      // Call the post() function
      post(path, params);
    }); 
</script>
<script>
function verifyPayment(payload) {
    $.ajax({
      url: "{% url 'verify_payment' %}",
      type: "POST",
      data: payload,
      dataType: "json",
      success: function(response) {
        alert(response);
      },
      error: function(error) {
        alert(error.responseJSON['message']);
      }
    });
  }
  
  var config = {
    // replace the publicKey with yours
    "publicKey": "test_public_key_8a8d3e7858584fc09e112f79abc7052f",
    "productIdentity": "1234567890",
    "productName": "Dragon",
    "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
    "paymentPreference": [
      "KHALTI",
      "EBANKING",
      "MOBILE_BANKING",
      "CONNECT_IPS",
      "SCT",
    ],
    "eventHandler": {
      onSuccess(payload) {
        // hit merchant API for initiating verification
        console.log(payload);
  
        // Retrieve shipping address information from the form
        var shippingAddress = {
          address: document.getElementById("address").value,
          city: document.getElementById("city").value,
          ward_no: document.getElementById("ward_no").value,
          zip_code: document.getElementById("zipcode").value,
          phone: document.getElementById("phone").value
        };
  
        // Merge the payload and shipping address information
        var mergedPayload = Object.assign({}, payload, { shipping: shippingAddress });
  
        // Call the verifyPayment function with the merged payload
        verifyPayment(mergedPayload);
      },
      onError(error) {
        console.log(error);
      },
      onClose() {
        console.log("widget is closing");
      }
    }
  };
  
  var checkout = new KhaltiCheckout(config);
  var btn = document.getElementById("payment-button");
  btn.onclick = function() {
    // minimum transaction amount must be 10, i.e 1000 in paisa.
    checkout.show({ amount: 1000 });
  };
  
</script>

 {% include 'components/footer/footer.html' %}

 {% include 'components/base/base-bottom.html' %}

