{% load static %}

{% include 'components/base/base-top.html' %}

 {% include 'components/header/header.html' %}

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">


{% block start %}
<div class="container" style="background-color: rgb(166, 219, 179);
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius: 10px;width: 600px; margin-bottom: 100px;">
    <h1>  Password reset complete </h1>
    <br>

  
  <p>Your password has been set. You may go ahead and log in now.</p>  

  <br>

  

 <a href="{% url 'login' %}"><button class="btn btn-primary" style="margin-bottom: 20px;">Log in</button></a>

    
</div>

{% endblock %}
{% include 'components/footer/footer.html' %}

 {% include 'components/base/base-bottom.html' %}
